* {
    padding: 0px;
    margin: 0px;
    background-color: #000000;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

/* <========Loding effect========> */
.loader {
    width: 65px;
    aspect-ratio: 1;
    position: relative;
  }
  
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset #f88e03;
    animation: l4 2.5s infinite;
  }
  
  .loader:after {
    animation-delay: -1.25s;
  }
  
  @keyframes l4 {
    0% {
      inset: 0 35px 35px 0;
    }
  
    12.5% {
      inset: 0 35px 0 0;
    }
  
    25% {
      inset: 35px 35px 0 0;
    }
  
    37.5% {
      inset: 35px 0 0 0;
    }
  
    50% {
      inset: 35px 0 0 35px;
    }
  
    62.5% {
      inset: 0 0 0 35px;
    }
  
    75% {
      inset: 0 0 35px 35px;
    }
  
    87.5% {
      inset: 0 0 35px 0;
    }
  
    100% {
      inset: 0 35px 35px 0;
    }
  }
  
  .loding_effect {
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* <========navbar==========> */

.nav{
    display: none;
    flex-direction: column;
    width: 100%;
    height: 20vh;
}

.socal {
    width: 100%;
    height: 50%;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    border-bottom: 1px solid white;
    
    color: white;
}

.socal .additional {
    display: flex;
    gap: 65px;
    background-color: transparent;
}

.socal .additional .mail {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 9vw;
    gap: 10px;
    background-color: transparent;
}

.socal .additional .img {
    background-color: transparent;
}

.socal .additional .img img {
    background-color: transparent;
}

.socal .additional .call {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: transparent;
    width: 9vw;
}

.socal .additional .Time {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: transparent;
    width: 10vw;
}

.socal .additional .emaill {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: transparent;
    width: 9vw;
}

.socal .additional .email {
    /* margin-left: 10px; */
    background-color: transparent;
}

.socal .additional .Contact {
    /* margin-left: 10px; */
    background-color: transparent;
}

.socal .additional .Contactt {
    margin-left: 4px;
    margin-top: -2px;
    background-color: transparent;
}

.socal .additional .Timee {
    /* margin-left: 10px; */
    background-color: transparent;
}

.socal .additional .times {
    margin-left: 4px;
    margin-top: -2px;
    background-color: transparent;
}

.socal .contacts {
    display: flex;
    gap: 16px;
    background-color: transparent;
}

.socal .contacts a {
    background-color: transparent;
}

.socal .contacts a img {
    background-color: transparent;
    /* position: relative; */
}


.navbar {
    background-color: #000000;
    width: 100%;
    color: white;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.droplist{
    display: none;
} 
    
.displaytext{
    display: flex;
    flex-wrap: wrap;
    width: 24vw;
    height: 37vh;
    top: 70px;
    z-index: 99;
    align-items: center;
    gap: 21px;
    /* margin-right: 80px; */
    background: #6e676759;
    justify-content: center;
    border-radius: 20px;
    position: absolute;
    right: 30px;
}

.navbar ul .droplist li{
    font-size: 20px;
    background-color: transparent;
    margin-top: 10px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 24px;
    margin-right: 170px;
    height: 7vh;
    align-items: center;
}

.navbar ul li {
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 23px;
    letter-spacing: 0.1rem;
    background-color: transparent;
}

.navbar ul li a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 1;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #f88e03;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar ul li a:hover::after {
    width: 100%;
    left: 0;
}

.mobile_menu{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    /* background: black; */
    z-index: 2;
    width: 100%;
    height: 90vh;
}

.mobile_vison{
    display: flex;
}

.menu{
    display: flex;
    color: white;
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.maincontenar {
    width: 100%;
    height: 310vh;
    display: none;
}

.maincontenar img {
    width: 100%;
}

.maincontenar .information {
    width: 90%;
    height: 210vh;
    background-color: #1E1E1E;
    border-radius: 50px;
    margin: 5%;
    position: absolute;
    margin-top: -76px;
    z-index: 1;
    color: white;
}

.maincontenar .information .companyinfo {
    color: white;
    /* margin-top: 75px; */
    width: 93%;
    margin: 75px auto;
    background-color: #1E1E1E;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.maincontenar .information .companyinfo .abouts {
    font-size: 37px;
    color: orange;
    background-color: #1E1E1E;
    /* width: 12%; */
    /* display: inline; */
}

.maincontenar .information .companyinfo .CompanyOverview{
    background-color: #1E1E1E;
}

.maincontenar .information .companyinfo .CompanyOverview button {
    width: 15vw;
    height: 44px;
    color: white;
    background-color: #1E1E1E;
    border: 2px solid #FF7B00;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.maincontenar .information .companyinfo .CompanyOverview button img {
    color: #FF7B00;
    background-color: #1E1E1E;
    width: 19px;
}
.maincontenar .information .companyinfo .OurHistory{
    background-color: #1E1E1E;
}
.maincontenar .information .companyinfo .OurHistory button {
    width: 11vw;
    height: 44px;
    color: white;
    background-color: #1E1E1E;
    border: 2px solid #FF7B00;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.maincontenar .information .companyinfo .OurHistory button img {
    color: #FF7B00;
    background-color: #1E1E1E;
    width: 19px;
}

.information .companyinfo .buttons {
    display: flex;
    gap: 24px;
    background-color: #1e1e1e;
}

.maincontenar .information .companyinfo .OurTeam{
    background-color: #1e1e1e;
}

.maincontenar .information .companyinfo .OurTeam button {
    width: 10vw;
    height: 44px;
    color: white;
    background-color: #1E1E1E;
    border: 2px solid #FF7B00;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.maincontenar .information .companyinfo .OurTeam button img {
    color: #FF7B00;
    background-color: #1E1E1E;
    width: 19px;
}

.maincontenar .information .companyinfo .Misson {
    width: 29%;
    margin-right: 632px;
    margin-top: 49px;
    background-color: #1e1e1e;
    color: #FF7B00;
}

.maincontenar .information .companyinfo .Misson .missoninfo {
    background-color: #1E1E1E;
    color: white;
}

.maincontenar .information .companyinfo .Vision {
    width: 29%;
    /* margin-right: 632px; */
    margin-top: -62px;
    background-color: #1e1e1e;
    margin-left: 39rem;
    color: #FF7B00;
}

.maincontenar .information .companyinfo .Vision .visioninfo {
    background-color: #1E1E1E;
    color: white;
}

.maincontenar .information hr {
    width: 80%;
    /* align-items: center; */
    /* justify-content: center; */
    /* display: flex; */
    margin: 41px 0px auto;
}

.maincontenar .information .companyoverview {
    color: white;
    background-color: #1E1E1E;

}

.maincontenar .information .companyoverview span {
    background-color: #1E1E1E;
    font-size: 35px;
    margin-left: 11rem;
}

.maincontenar .information .companyoverview .fristp {
    background-color: #1e1e1e;
    margin-left: 13rem;
    margin-top: 29px;
    font-size: 21px;
    width: 73%;
    font-weight: 100;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    gap: 15px;
}

.maincontenar .information .companyoverview .secondp {
    background-color: #1e1e1e;
    margin-left: 13rem;
    margin-top: 29px;
    font-size: 21px;
    width: 73%;
    font-weight: 100;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    gap: 15px;
}

.maincontenar .information .companyoverview .theredp {
    background-color: #1e1e1e;
    margin-left: 13rem;
    margin-top: 29px;
    font-size: 21px;
    width: 73%;
    font-weight: 100;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    gap: 15px;
}

.maincontenar .information .ourprojects {
    background-color: #1E1E1E;
    margin-top: 55px;
}

/* .maincontenar .information .ourprojects span {
    background-color: #1E1E1E;
    font-size: 35px;
    margin-left: 11rem;
} */

/* .maincontenar .information .ourprojects .marq {
    background-color: black;
    width: 80%; */
    /* margin: auto; */
    /* margin-left: 11rem;
    height: 25vh;
    border-radius: 10px;
} */

/* .maincontenar .information .ourprojects .marq img {
    width: 10vw; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 17px 50px 17px 0px;

} */

/* .maincontenar .information .ourprojects .marq .img9 {
    scale: 1.4;
    margin-bottom: 35px;
    margin-left: 35px;
} */

.ourprojects .quality{
    display: flex;
    background-color: transparent;
    margin-left: 11rem;
    /* border: 2px solid white; */
    border-radius: 20px;
}

.ourprojects .quality .imgblock{
    border-radius: 20px;
    margin-top: 5rem;
    background-color: transparent;
}

.ourprojects .quality img{
    width: 30vw;
    height: 40vh;
    border-radius: 20px;
    /* border: 2px solid white; */
    background-color: transparent;
}

.ourprojects .quality .qualityblock{
    color: white;
    background-color: transparent;
    margin-left: 5rem;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}



.ourprojects .quality .qualityblock h1{
    font-size: 3rem;
    font-weight: 600;
    background-color: transparent;
}

.ourprojects .quality .qualityblock .qualityinfo{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: justify;
    background-color: transparent;
    width: 40vw;
}

.ourprojects .customersatisfaction{
    display: flex;
    background-color: transparent;
    margin-left: 11rem;
    /* border: 2px solid white; */
    border-radius: 20px;
}

.ourprojects .customersatisfaction .imgblock{
    border-radius: 20px;
    margin-top: 5rem;
    background-color: transparent;
}

.ourprojects .customersatisfaction .imgblock img{
    width: 30vw;
    height: 40vh;
    border-radius: 20px;
    /* border: 2px solid white; */
    background-color: transparent;
}

.ourprojects  .customersatisfaction .satisfactionblock  h1 {
    font-size: 3rem;
    font-weight: 600;
    background-color: transparent;
}

.ourprojects  .customersatisfaction .satisfactionblock  .satisfactioninfo{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: justify;
    background-color: transparent;
    width: 40vw;
}


.ourprojects  .customersatisfaction .satisfactionblock {
    color: white;
    background-color: transparent;
    margin-left: 5rem;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.footers {
    width: 100%;
    height: 352px;
    background-color: #2D3E4E;
    bottom: 0px;
    display: none;
    justify-content: space-around;
    /* bottom: -62rem; */
    color: white;
    /* display: grid; */
}

.social_info{
    background-color: transparent;
    width: 100%;
}

.footers .namess a {
    color: orange;
    text-decoration: none;
    background-color: #2D3E4E;
    font-size: 20px;
}

.footers .namess {
    background-color: #2D3E4E;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 6rem;
    /* left: 15rem; */
}

.footers .description {
    width: 55%;
    background-color: #2D3E4E;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 7rem;
    left: 13rem;
}

.footers .socalicon {
    background-color: transparent;
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: center;
    top: 8rem;
    left: 15rem;
    gap: 10px;

}

.footers .socalicon a img {
    background-color: transparent;
}

.socalicon a img:hover{
    transform: scale(1.2);
    transition: 0.4s;
}

.footers .socalicon a {
    background-color: transparent;
}

.service_info{
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
}

.footers .quicklinks {
    background-color: transparent;
    width: 100%;
    height: 230px;
    display: grid;
    /* justify-content: center; */
    /* align-items: center; */
    /* top: -50px; */
    /* left: 45rem; */
}

.footers .quicklinks h1 {
    background-color: #2D3E4E;
    text-align: center;
}

.footers .quicklinks .links {
    /* display: grid; */
    display: flex;
    /* grid-template-columns: auto auto; */
    justify-content: center;
    flex-wrap: wrap;
    width: 15vw;
    gap: 40px;
    margin: auto;
    bottom: 60px;
    /* right: 33px; */
    background-color: #2D3E4E;
}

/* .footers .companyinformation .quicklinks .links div {
    background-color: #2D3E4E;
} */

.footers .quicklinks .links a {
    background-color: transparent;
    text-decoration: none;
    color: white;
    font-size:20px ;
    /* color: #999999; */
}

.address_info{
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
}

.footers .contactsus {
    background-color: #2D3E4E;
    width: 100%;
    height: 100%;
    /* display: grid; */
    /* justify-content: center; */
    /* align-items: center; */
    /* bottom: 280px;
    left: 70rem; */
    display: flex;
    flex-direction: column;
}

.footers .contactsus h1 {
    background-color: #2D3E4E;
    text-align: center;
    /* width: 100%; */
}

.footers .contactsus .div1 {
    background-color: #2D3E4E;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 50px 0px;
}

.footers .contactsus .div1 iframe {
    width: 300px;
    height: 200px;
    border: 0;
}

.footers .address{
    width: 19vw;
    display: flex;
    margin: auto;
    height: 27vh;
}

.menulog{
    width: 40vw;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.menulog .div1{
    width: 10vw;
    height: 3px;
    background-color: white;
}

/* @media screen and (max-width: 1200px)  {
    .socal{

    }
} */

@media screen and (max-width: 430px)  {

    .socal, .navbar{
        display: none;
    }

    .nav{
        height: 10vh;
        justify-content: center;
        align-items: flex-end;
    }

    .menulog {
        display: flex;
    }

    .maincontenar .information{
        margin-top: -25px;
        width: 100%;
        height: auto;
        margin: 0px;
    }

    .information .companyinfo .buttons {
        flex-direction: column;
        width: 100%;
    }

    .maincontenar .information .companyinfo .CompanyOverview  button{
        width: 70vw;
    }
    
    .maincontenar .information .companyinfo .OurHistory button{
        width: 70vw;
        gap: 80px;

    }

    .maincontenar .information .companyinfo .OurTeam button{
        width: 70vw;
        gap: 95px;

    }

    .maincontenar .information .companyinfo {
        flex-direction: column;
    }
    

    .maincontenar .information .companyinfo .Misson {
        width: 100%;
        /* margin-right: 632px; */
        margin-top: 20px;
        background-color: #1e1e1e;
        margin-left: 0px;
    }
    .maincontenar .information .companyinfo .Vision {
        width: 100%;
        /* margin-right: 632px; */
        margin-top: 20px;
        background-color: #1e1e1e;
         margin-left: 0px;
    }

    .maincontenar .information .companyinfo .abouts{
        width: 100%;
    }

    .maincontenar .information .companyoverview span {
        background-color: #1E1E1E;
        font-size: 26px;
        margin-left: 0px;
    }
    .maincontenar .information .companyoverview .fristp {
        margin: auto;
        text-align: justify;
        width: 90%;
    }
    .maincontenar .information .companyoverview .secondp{
        margin: auto;
        margin-top: 40px;
        text-align: justify;
        width: 90%;
    }

    .maincontenar .information .companyoverview .theredp{
        margin: auto;
        margin-top: 40px;
        text-align: justify;
        width: 90%;
    }

    .ourprojects .quality{
        margin: 0px;
        flex-direction: column;
    }

    .ourprojects .quality .imgblock {
        border-radius: 20px;
        margin: 0px 36px;
        margin-top: 5rem;
        background-color: transparent;
    }

    .ourprojects .quality img {
        width: 80vw;
        height: 35vh;
    }

    .ourprojects .quality .qualityblock {
        margin: 40px 0px;
    }

    .ourprojects .quality .qualityblock h1 {
        font-size: 35px;
    }

    .ourprojects .quality .qualityblock .qualityinfo {
        margin: 0px 25px;
        width: 85%;
    }

    .ourprojects .customersatisfaction{
        width: 100%;
        margin: 0px;
        flex-direction: column;
    }

    .ourprojects .customersatisfaction .imgblock img{
        width: 80%;
        margin: 0px 30px;
    }
    .ourprojects .customersatisfaction .satisfactionblock{
        margin: 30px 0px;
        width: 100%;
    }

    .ourprojects .customersatisfaction .satisfactionblock h1{
        font-size: 30px;
    }

    .ourprojects .customersatisfaction .satisfactionblock .satisfactioninfo{
        width: 90%;
        margin: 10px 20px;
    }

    .footers{
        top: 82rem;
        flex-direction: column;
        height: auto;
    }

    .social_info{
        height: 45vh;
    }

    .footers .namess{
        background-color: #2D3E4E;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 6rem;
        left: 0px;
    }

    .footers .namess a {
        color: orange;
        text-decoration: none;
        background-color: #2D3E4E;
        font-size: 40px;
    }

    .footers .description{
        left: 5rem;
    }

    .footers .socalicon{
        left: 10rem;
    }

    .service_info{
        height: 40vh;
    }

    .footers .quicklinks .links{
        width: 50vw;
    }
}
