* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}


.navbar {
    width: 100%;
    height: 5rem;
    background-color: black;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.content {
    display: flex;
    justify-content: center;
    background: transparent;
}

.droplist {
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    /* right: 15vw; */
    width: 17vw;
    z-index: 1;
    gap: 10px;
    border-radius: 20px;
    background: #a2919182;
    height: 30vh;
}

.displaytext {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 79px;
    right: 8vw;
    width: 20vw;
    z-index: 1;
    gap: 10px;
    border-radius: 20px;
    background: #8b8080c4;
    height: 35vh;
}

.displaytext li {
    background: transparent;
}

.displaytext li a {
    background-color: transparent;
}

.navbar .menu {
    width: 30vw;
    height: 4rem;
    display: flex;
    margin-right: 5rem;
    flex-wrap: wrap;
}

#menus {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10px;
    font-size: 19px;
    width: 100%;
    height: 8vh;
}

#menus li {
    list-style: none;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    /* margin-left: 50px; */
}

#menus li a::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 4px;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
}

#menus a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

#menus li a {
    font-family: arial;
    color: white;
    text-decoration: none;
    position: relative;
    padding: 15px 10px;
    font-size: 23px;
    display: block;
    font-family: 'Times New Roman', Times, serif;
}

.navbar .menulogo {
    display: none;
}

.navbar .menulogo .box1,
.box2,
.box3 {
    width: 5vw;
    height: 0.2vh;
    background-color: white;
}

.maincontenar {
    display: none;
}

.maincontenar .backgroundimg {
    width: 100%;
    height: 91vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maincontenar .backgroundimg img {
    width: 100vw;
    height: 91vh;
}

.servicess h1 {
    width: 84%;
    text-align: center;
    margin: auto;
    color: orange;
}

.sidemenu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 90%;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: auto;
}

.servicess {
    width: 22vw;
    height: 58vh;
    border: 2px solid white;
    margin-top: 60px;
    margin-left: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.servicess .trunkey {
    width: 18vw;
    /* text-align: center; */
    border: 1px solid;
    height: 47px;
    font-size: 22px;
    border-radius: 30px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicess .trunkey a {
    text-decoration: none;
    color: white;
}

/* .service .section1 .servicess .trunkey:hover {
    background-color: red;
} */

.service {
    display: none;
}

.service .section1 {
    width: 40%;
    height: 75vh;
}

.service .section2 {
    width: 60%;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
}

.service .section2 .headin {
    font-size: 40px;
    padding-top: 40px;
    padding-left: 20px;
    color: white;
}

.service2 {
    width: 100%;
    height: 50vw;
    display: none;
}

.service2 .section3 {
    width: 30%;
    height: 28vw;
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgb(230, 230, 198); */
}

.service2 .section4 {
    width: 70%;
    height: auto;
    display: flex;
    /* background-color: rgb(194, 223, 194); */
    position: relative;
    /* background: linear-gradient(10, 10, 10);             */
    flex-wrap: wrap;
}

.service2 .section3 .images2 {
    width: 22vw;
    margin: auto;
    height: 41vh;
    position: relative;
}

.service2 .section3 .images2 .img3 {
    width: 100%;
    height: 100%;
    position: absolute;
    /* object-fit: contain; */
}

.section3 .images2 .contacts {
    z-index: 2;
    display: flex;
    position: absolute;
    bottom: 58px;
    left: 70px;
    font-size: 33px;
    background-color: transparent;
    font-weight: bold;
    flex-wrap: wrap;
    width: 15vw;
    height: 3vw;
}

.section3 .images2 .images {
    width: 5vw;
    height: 9vh;
    position: absolute;
    bottom: 35px;
    left: 0;
    background-color: transparent;
}

.section3 .images2 .contacts span {
    background-color: transparent;
}

/* .section4 .headin{
} */

.service2 .section3 .socalme {
    width: 29vw;
    height: 28vh;
    margin-top: 10vw;
    background-color: rgb(8, 8, 8);
    margin-left: 8px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service2 .section3 .socalme:hover {
    background-color: rgb(32, 30, 30);
    transition: .2s linear;
}

.service2 .section3 .socalme .socalmed {
    color: white;
    background: transparent;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 40px;
    flex-wrap: wrap;
}

.service2 .section3 .socalme .div1,
.div2 {
    width: 2px;
    height: 15px;
    background-color: white;
    margin-top: 10px;

}

.service2 .section3 .socalme .div1 {
    margin-top: 25px;
    right: 3px;
    position: relative;
}

.service2 .section3 .socalme .div2 {
    margin-top: 42px;
    /* display: inline; */
    right: 5px;
    position: relative;
}

.service2 .section3 .socalme .socialicon {
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.service2 .section3 .socalme .socialicon a {
    background-color: transparent;
}

.service2 .section3 .socalme .socialicon img {
    background-color: transparent;
    width: 4vw;
}

.section4 .headin {
    background: transparent;
    font-size: 35px;
    margin-left: 100px;
    margin-top: 20px;
    width: fit-content;
    color: white;
}

.section4 .info {
    background: transparent;
    width: 80%;
    margin: auto;
    text-align: justify;
    color: white;
}

.section4 .moreinfo {
    background: transparent;
    width: 80%;
    margin: auto;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.section4 .constructionss {
    background: transparent;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: white;

}

.section4 .constructionss .name {
    background: transparent;
    font-size: 30px;
    gap: 20px;
    color: white;
}

.section4 .constructionss .information {
    background: transparent;
    color: white;
}

.contenar {
    /* background-color: red; */
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.contenar .Residential .span1 {
    width: 50px;
}

.contenar .Residential .span2 {
    width: 100%;
}

.contenar .Residential {
    background-color: #D9D9D9;
    width: 100%;
    height: 9vh;
    color: black;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin: 30px 0px; */
}


.inforamtions {
    display: none;
    background-color: #d9d9d9;
    transform: translateY(-57px);
    height: auto;
    text-align: justify;
    padding: 8px;
}

.inform {
    display: none;
    background-color: #d9d9d9;
    transform: translateY(-57px);
    height: auto;
    text-align: justify;
    padding: 8px;
}

.informations {
    display: none;
    background-color: #d9d9d9;
    transform: translateY(-57px);
    height: auto;
    text-align: justify;
    padding: 8px;
}

.inrorms {
    display: none;
    background-color: #d9d9d9;
    transform: translateY(-57px);
    height: auto;
    text-align: justify;
    padding: 8px;
}


.informationss {
    display: block;
    background: #d9d9d9;
    height: auto;
    font-size: 19px;
    width: fit-content;
    text-align: justify;
    transform: translateY(0px);
    transition: transform .7s;
    padding: 10px;
}


.contenar .Residential .around span {
    background-color: #D9D9D9;
}

.contenar .Residential .around {
    background-color: #D9D9D9;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding-left: 45px;
}

.pluse {
    width: 2vw;
    background: content-box;
    position: absolute;
    transform: rotateZ(0deg);
    transition: transform 0.5s;
}

.mult {
    width: 2vw;
    background: content-box;
    position: absolute;
    transform: rotateZ(0deg);
    transition: transform 0.5s;
}

.cross {
    width: 2vw;
    background: content-box;
    position: absolute;
    transform: rotateZ(0deg);
    transition: transform 0.5s;
}


/* #cross{
    width: 2vw;
    background: content-box;
    position: absolute;
    transform: rotateZ(0deg);
    transition: transform 0.5s;
} */

/* #cross{
    display: none;
    transform: ;
} */

.displaycross {
    display: inline;
    width: 2vw;
    background: content-box;
    position: absolute;
}

.contenar .Residential .icons {
    display: flex;
    background: content-box;
    justify-content: center;
    align-items: center;
    width: 20vw;
}

.contenar2 {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.cross1 {
    width: 2vw;
    background: content-box;
    position: absolute;
    transform: rotateZ(0deg);
    transition: transform 0.5s;
}

.cross2 {
    width: 2vw;
    background: content-box;
    position: absolute;
    transform: rotateZ(0deg);
    transition: transform 0.5s;
}

.crosss {
    width: 2vw;
    background: content-box;
    position: absolute;
    transform: rotateZ(45deg);
    transition: transform 0.5s;
}


footer {
    width: 100%;
    height: 21rem;
    background-color: #2D3E4E;
    position: absolute;
    top: 151rem;
    display: none;
    justify-content: space-around;
    color: white;
    grid-template-columns: 33.33% 35% 31.33%;
}

footer .socalmedia {
    background: #2D3E4E;
    height: 21rem;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 70%;
    grid-template-rows: 103px 100px 75px;
}

footer .socalmedia .heading2 {
    background-color: #2D3E4Eed;
    color: white;
}

footer .socalmedia p {
    background-color: #2D3E4E;
    text-align: justify;
}

footer .socalmedia .socalmediass {
    DISPLAY: FLEX;
    justify-content: space-around;
    width: 15rem;
    background-color: transparent;
}

footer .socalmedia .socalmediass img {
    transform: scale(1);
    background-color: transparent;
    transition: transform 0.5s;
}

footer .socalmedia .socalmediass img:hover {
    transform: scale(1.5);
}

footer .informationlinks {
    background-color: #2D3E4E;
    display: grid;
    height: 21rem;
    justify-content: center;
    grid-template-rows: 98px 143px;
    grid-template-columns: 70%;
    text-align: center;
    grid-row-gap: 1rem;
    align-items: center;
}

footer .informationlinks .heading3 {
    background-color: #2D3E4E;
}

footer .informationlinks .alllinks {
    display: grid;
    grid-template-columns: 66px 86px;
    justify-content: space-around;
    grid-template-rows: 38px 44px;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    background-color: #2D3E4E;
}

footer .informationlinks .alllinks .Home,
.Aboutss,
.Servicess,
.Contacts {
    background-color: #2D3E4E;
}

footer .informationlinks .alllinks .Home a {
    color: white;
    text-decoration: none;
    background-color: #2D3E4E;
}

footer .informationlinks .alllinks .Aboutss a {
    color: white;
    text-decoration: none;
    background-color: #2D3E4E;
}

footer .informationlinks .alllinks .Servicess a {
    color: white;
    text-decoration: none;
    background-color: #2D3E4E;
}

a {
    background-color: transparent;
}

footer .informationlinks .alllinks .Contacts a {
    color: white;
    text-decoration: none;
    background-color: #2D3E4E;
}

footer .loacation {
    display: grid;
    grid-template-rows: 95px 196px;
    justify-content: center;
    align-items: center;
    background-color: #2D3E4E;
}

footer .loacation .heading4 {
    background-color: #2D3E4E;
}

footer .loacation .div1 {
    background-color: #2D3E4E;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 65px;
    aspect-ratio: 1;
    position: relative;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset #f88e03;
    animation: l4 2.5s infinite;
}

.loader:after {
    animation-delay: -1.25s;
}

@keyframes l4 {
    0% {
        inset: 0 35px 35px 0;
    }

    12.5% {
        inset: 0 35px 0 0;
    }

    25% {
        inset: 35px 35px 0 0;
    }

    37.5% {
        inset: 35px 0 0 0;
    }

    50% {
        inset: 35px 0 0 35px;
    }

    62.5% {
        inset: 0 0 0 35px;
    }

    75% {
        inset: 0 0 35px 35px;
    }

    87.5% {
        inset: 0 0 35px 0;
    }

    100% {
        inset: 0 35px 35px 0;
    }
}

.loding_effect {
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 980px) {

    .navbar {
        display: flex;
        justify-content: flex-end;
    }

    /* .navbar .menu {
        /display: none; 
    } */

    .navbar .menulogo {
        width: 8vw;
        height: 3vh;
        /* background-color: red; */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-right: 30PX;
        z-index: 3;
    }

    .service .section2 .headin {
        font-size: 40px;
        padding-top: 40px;
        padding-left: 20px;
        color: white;
        margin-left: 50px;
    }

    .navbar .menus {
        display: grid;
        width: 100%;
        height: 30vh;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin-right: -65px;
        margin-top: 39vh;
        background-color: aquamarine;
    }

    #droplist li {
        color: white;
        text-decoration: none;
        /* margin-top: 10rem; */
        display: block;
        width: 115px;
        /* margin: auto; */
        gap: 40px;
        /* margin-top: 40px; */
        /* left: 51px; */
        /* display: grid; */
        left: 0;
        position: relative;
    }

    #menus {
        display: grid;
        justify-content: center;
        align-items: center;
        list-style: none;
        grid-template-rows: 50px 50px 50px 50px 50px;
        text-align: center;
        gap: 10px;
        font-size: 19px;
        flex-wrap: wrap;
        width: 105vw;
        z-index: 1;
        background-color: red;
        position: relative;
        margin-left: 0px;
        /* left: 158px; */
        right: 0px;
        height: 45rem;
        top: -10px;
    }

    #menus li {
        color: white;
        text-decoration: none;
        /* margin-top: 10rem; */
        display: block;
        width: 91px;
        /* margin: auto; */
        gap: 40px;
        margin-top: 40px;
        /* left: 51px; */
        /* display: grid; */
        /* left: 40px; */
        position: relative;
    }

    #menus a {
        color: white;
        text-decoration: none;
    }

    .maincontenar .backgroundimg img {
        width: 100vw;
        height: 50vh;
    }

    .maincontenar .backgroundimg {
        display: flex;
        justify-content: center;
        height: 50vh;
    }

    .service {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100vh;
        /* grid-template-rows: 1fr 1fr; */
    }

    .service .section1 {
        width: 100%;
        height: 44vh;
    }

    .service .section2 {
        width: 100%;
        height: 60vh;
    }

    .service .section2 .img3 {
        width: 90%;
        height: 40vh;
        margin: 0px auto;
    }

    .service .section2 .img3 img {
        width: 90%;
        height: 40vh;
        margin: 0px auto;
        display: flex;
    }

    .service .section1 .servicess {
        display: flex;
        width: 90vw;
        margin-left: 0;
        margin-top: 10px;
        height: 40vh;
        flex-wrap: wrap;
        margin: 3px auto;
    }

    .service .section1 .servicess .trunkey {
        width: 70vw;
    }

    #menus {
        width: 25vw;
        background-color: black;
        position: fixed;
        height: 93vh;
        /* display: none; */
        /* left: 75vw; */
        margin-left: -160px;
        margin-top: 88px;
        border-radius: 23px 0px 0px 23px;
    }

    .displaytext {
        color: white;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-direction: row;
        flex-wrap: wrap;
        position: absolute;
        top: 7vw;
        right: 202px;
        width: 35vw;
        z-index: 1;
        gap: 30px;
        border-radius: 20px;
        /* margin-left: 35px; */
        background: #8b8080c4;
        height: 40vh;
    }

    .service2 .section3 {
        display: none;
    }

    .service2 .section4 {
        width: 100%;
        height: fit-content;
        display: flex;
        /* background-color: rgb(194, 223, 194); */
        position: relative;
        flex-wrap: wrap;
    }

    footer {
        width: 100%;
        height: 21rem;
        background-color: #2D3E4E;
        position: absolute;
        top: 168rem;
        display: none;
        justify-content: space-around;
        color: white;
        grid-template-columns: 33.33% 35% 31.33%;
    }

}

@media screen and (max-width: 400px) {
    .navbar {
        display: flex;
        justify-content: flex-end;
    }

    /* .navbar .menu {
         display: none; 
    } */

    .navbar .menulogo {
        width: 8vw;
        height: 3vh;
        /* background-color: red; */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-right: 30PX;
        z-index: 3;
    }

    .navbar .menus {
        display: grid;
        width: 100%;
        height: 30vh;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin-right: -65px;
        margin-top: 39vh;
        background-color: aquamarine;
    }

    #menus {
        display: grid;
        justify-content: center;
        align-items: center;
        list-style: none;
        grid-template-rows: 50px 50px 50px 50px 50px;
        text-align: center;
        gap: 10px;
        font-size: 19px;
        flex-wrap: wrap;
        width: 105vw;
        z-index: 1;
        background-color: red;
        position: relative;
        margin-left: 0px;
        left: 158px;
        height: 45rem;
        top: -10px;
    }

    #menus li {
        color: white;
        text-decoration: none;
        margin-top: 10rem;
        display: block;
        width: 91px;
        margin: auto;
        gap: 40px;
        margin-top: 40px;
        left: 51px;
        display: grid;
        left: 0px;
        position: relative;
    }

    #menus a {
        color: white;
        text-decoration: none;
    }

    .maincontenar .backgroundimg img {
        width: 100vw;
        height: 50vh;
    }

    .maincontenar .backgroundimg {
        display: flex;
        justify-content: center;
        height: 50vh;
    }

    .service {
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-rows: 1fr 1fr;
    }

    .service .section1 {
        width: 100%;
        height: 44vh;
    }

    .service .section2 {
        width: 100%;
        height: 60vh;
    }

    .service .section2 .img3 {
        width: 100%;
        height: 40vh;
    }

    .service .section2 .img3 img {
        width: 100%;
        height: 40vh;
    }

    .service .section1 .servicess {
        display: flex;
        width: 90vw;
        margin-left: 0;
        margin-top: 10px;
        height: 40vh;
        flex-wrap: wrap;
        margin: 3px auto;
    }

    .service .section1 .servicess .trunkey {
        width: 70vw;
    }

    #menus {
        width: 100vw;
        background-color: black;
        position: fixed;
        height: 90vh;
        /* display: none; */
        left: 0vw;
        /* margin-left: -160px; */
        margin-top: 88px;
        border-radius: 0px 0px 0px 0px;
    }
}


@media screen and (max-width: 550px) {
    .navbar {
        display: flex;
        justify-content: flex-end;
    }

    /* .navbar .menu {
        /* display: none; 
    } */

    .navbar .menulogo {
        width: 8vw;
        height: 3vh;
        /* background-color: red; */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-right: 30PX;
        z-index: 3;
    }

    .navbar .menus {
        display: grid;
        width: 100%;
        height: 30vh;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin-right: -65px;
        margin-top: 39vh;
        background-color: aquamarine;
    }

    #menus {
        display: grid;
        justify-content: center;
        align-items: center;
        list-style: none;
        grid-template-rows: 50px 50px 50px 50px 50px;
        text-align: center;
        gap: 10px;
        font-size: 19px;
        flex-wrap: wrap;
        width: 105vw;
        z-index: 1;
        background-color: red;
        position: relative;
        margin-left: 0px;
        left: 158px;
        height: 45rem;
        top: -10px;
    }

    #menus li {
        color: white;
        text-decoration: none;
        margin-top: 10rem;
        display: block;
        width: 91px;
        margin: auto;
        gap: 40px;
        margin-top: 40px;
        left: 51px;
        display: grid;
        left: 0px;
        position: relative;
    }

    #menus a {
        color: white;
        text-decoration: none;
    }

    .maincontenar .backgroundimg img {
        width: 100vw;
        height: 50vh;
    }

    .maincontenar .backgroundimg {
        display: flex;
        justify-content: center;
        height: 50vh;
    }

    .service .section1 .servicess {
        display: flex;
        width: 90vw;
        margin-left: 0;
        margin-top: 10px;
        height: 41vh;
        flex-wrap: wrap;
        margin: 3px auto;
    }

    .service .section1 .servicess .trunkey {
        width: 70vw;
    }

    #menus {
        width: 100vw;
        background-color: black;
        position: fixed;
        height: 90vh;
        /* display: none; */
        left: 0vw;
        /* margin-left: -160px; */
        margin-top: 88px;
        border-radius: 0px 0px 0px 0px;
    }
}