*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(orange, rgb(148, 130, 130));
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    margin-top: auto;
}

.navbar{
    width: 100%;
    height: 10vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    position: absolute;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.timer{
    width: 30%;
    /* height: 100%; */
    position: absolute;
    margin-top: 50vh;
    font-size: 62px;
    margin-left: 75vh;
    border: 1px solid white;
    border-radius: 20px;
}
