* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
}

body {
  font-family: sans-serif;
}

/* <=====Navigation Bar=====> */

.navbar {
  width: 100%;
  height: 11vh;
  background-color: transparent;
  display: none;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid rgba(151, 151, 151, 0.411);
  /* border-radius: 0px 0px 20px 20px; */
  /* position: -webkit-sticky; */
  position: fixed;
  /* position: sticky; */
  background: transparent;
  backdrop-filter: blur(10px);
  animation: blury 3s ease-in-out ;
}

ul {
  width: 36vw;
  /* position: absolute; */
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  display: flex;
  /* justify-content: flex-end; */
  /* align-items: center; */
  background-color: transparent;
  margin-right: 150px;
  animation: name duration timing-function delay iteration-count direction fill-mode;
}

ul li {
  list-style: none;
  background-color: transparent;
}

ul li a {
  position: relative;
  display: block;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s;
  z-index: 1;
}

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

a:hover{
  color:#f88e03;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background:#f88e03;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}


.droplist {
  display: none;
}

.displaymenu {
  height: 44vh;
  position: absolute;
  display: flex;
  width: 28vw;
  background: #a2919182;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  top: 5rem;
  /* right: 27px; */
  left: 60rem;
  border-radius: 20px;
  z-index: 6;
  /* font-size: 1px;
  */
  color: black;
}

#droplist li,
a {
  background-color: transparent;
  /* font-size: 10px; */
}

/* <=====Loading Effect=====> */
.loader {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset #f88e03;
  animation: l4 2.5s infinite;
}

.loader:after {
  animation-delay: -1.25s;
}

@keyframes l4 {
  0% {
    inset: 0 35px 35px 0;
  }

  12.5% {
    inset: 0 35px 0 0;
  }

  25% {
    inset: 35px 35px 0 0;
  }

  37.5% {
    inset: 35px 0 0 0;
  }

  50% {
    inset: 35px 0 0 35px;
  }

  62.5% {
    inset: 0 0 0 35px;
  }

  75% {
    inset: 0 0 35px 35px;
  }

  87.5% {
    inset: 0 0 35px 0;
  }

  100% {
    inset: 0 35px 35px 0;
  }
}

.loding_effect {
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* <======header Contenar==========> */

.background_contenar{
  display: none;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
}

.text_info{
display: flex;
flex-wrap: wrap;
width: 50%;
height: 100vh;
color: white;
}

.text_info .info{
  display: flex;
  flex-direction: column;
  width: 28vw;
  margin: 202px 0px 0px 155px;
  gap: 15px;
  letter-spacing: 1px;
  /* position: relative; */
  overflow: hidden;
  /* gap: 100px; */
}

.text_info .info h1{
  font-size: 3rem;
  color:#f88e03;
  /* position: absolute; */
  animation: blury 3s ease-in-out ;
}

.text_info .info .managment_info{
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 30px;
  /* position: absolute; */
  animation: blury 3s ease-in-out ;
}


.background_image{
width: 60%;
height: 100vh;
display: flex;
overflow: hidden;
}

.background_image img{
  width: 62vw;
  margin-top: 100px;
  /* overflow: hidden; */
  animation: blury 3s ease-in-out ;
}



.middal_contenar_info{
  width: 100%;
  height: auto;
  /* background-color: red; */
  display: flex;
  justify-content: center;
border-top: 1px solid white;
} 

.middal_contenar_info .images_contenar{
  width: 80%;
  height: auto;
  /* background-color: red; */
  margin: 50px auto;
  column-count: 4;
  column-gap: 10px;
}

.middal_contenar_info .images_contenar img{
  max-width: 100%;
  display: block;
  padding: 5px;
  background-color: transparent;
  border-radius: 20px;
}

figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 20px;
  animation: blury 3s ease-in-out ;
}

figure > img {
  grid-row: 1 / -1;
  grid-column: 1;
}


.addscales{
  animation: scales 1s ease  1 ;
}
@keyframes scales {
    0%{
      transform: scale(0);
    }
    100%{
      transform: scale(1);
    }
}

.footer{
  width: 100%;
  height: 35vh;
  overflow: hidden;
}

footer{
  background-color: #2D3E4E;
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: space-around;
  animation: blury 1s ease-in-out ;
}

footer .companyname {
  width: 33.33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* font-size: 30px; */
  justify-content: center;
  align-items: center;
  background-color: transparent;
  gap: 20px;
}

.companyname h1 {
  color: #f96e2b;
  font-size: 30px;
  width: fit-content;
  background-color: transparent;
}

.companyname p {
  color: white;
  width: 70%;
  margin-left: 153px;
  display: flex;
  flex-wrap: wrap;
  background: transparent;
}

.companyname .social {
  display: flex;
  width: fit-content;
  background-color: transparent;
}

.companyname .social img {
  background-color: transparent;
}

footer .menu {
  width: 33.33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.menu a {
  background-color: transparent;
  width: fit-content;
  display: flex;
}

footer .address {
  width: 33.33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

.address iframe {
  width: 25vw;
  height: 30vh;
}

a {
  background-color: transparent;
}



@keyframes blury {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}