* {
      margin: 0;
      padding: 0;
      background-color: black;
      font-family: 'Times New Roman', Times, serif;
}

.loader {
      width: 65px;
      aspect-ratio: 1;
      position: relative;
}

.loader:before,
.loader:after {
      content: "";
      position: absolute;
      border-radius: 50px;
      box-shadow: 0 0 0 3px inset #f88e03;
      animation: l4 2.5s infinite;
}

.loader:after {
      animation-delay: -1.25s;
}

@keyframes l4 {
      0% {
            inset: 0 35px 35px 0;
      }

      12.5% {
            inset: 0 35px 0 0;
      }

      25% {
            inset: 35px 35px 0 0;
      }

      37.5% {
            inset: 35px 0 0 0;
      }

      50% {
            inset: 35px 0 0 35px;
      }

      62.5% {
            inset: 0 0 0 35px;
      }

      75% {
            inset: 0 0 35px 35px;
      }

      87.5% {
            inset: 0 0 35px 0;
      }

      100% {
            inset: 0 35px 35px 0;
      }
}

.loding_effect {
      width: 100%;
      height: 100vh;
      z-index: 100;
      display: flex;
      justify-content: center;
      align-items: center;
}



.navbar {
      /* background-color: rgb(225, 40, 40); */
      position: relative;
      width: 100%;
      height: 4rem;
      display: none;
      justify-content: space-between;
      /* background-color: red; */

}

/* .patterns { */
/* height: 100vh; */
/* } */



.droplist {
      display: none;
}

.displaytext {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: 64px;
      /* right: 15vw; */
      width: 28vw;
      border-radius: 20px;
      z-index: 1;
      gap: 40px;
      background: #a2919182;
      height: 35vh;
}

.displaytext li {
      background: transparent;
}

.displaytext li a {
      background-color: transparent;
}

.navbar .menu {
      width: 25vw;
      height: 4rem;
      display: flex;
      margin-right: 5rem;
      flex-wrap: wrap;
}

#menus {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 17px;
      margin-right: 10rem;
      /* position: absolute; */
      /* text-decoration: none; */
}

#menus li {
      text-transform: uppercase;
      /* margin: 25px 0px; */
      list-style: none;
      position: relative;
}

#menus li a {
      text-decoration: none;
      color: white;
      position: relative;
      font-size: 23px;
}

.displaytext li a::after {
      background: none repeat scroll 0 0 transparent;
      /* bottom: 0; */
      content: "";
      position: absolute;
      width: 100%;
      /* color: white; */
      display: block;
      height: 2px;
      /* left: 25%; */
      background: #fff;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
}

.maincontenar {
      display: none;
}

.maincontenar .backgroundimg {
      width: 100%;
      height: 90vh;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
}

@keyframes slide {
      25% {
            background-image: url(/images/trunkey1.jpg);
      }

      50% {
            background-image: url(/images/trunkey2.jpg);
      }

      75% {
            background-image: url(/images/turnkey_Project.jpg);
      }

      1000% {
            background-image: url(/images/turnkey-solutions.jpg);
      }
}

.background-contenar {
      background-image: url(/images/trunkey.jfif);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      animation: slide 40s infinite;
      width: 100%;
      height: 100vh;
}

p {
      text-shadow: 0 0 7px rgba(255, 255, 255, .3), 0 0 3px rgba(255, 255, 255, .3);
      background-color: transparent;
      color: black;
}

#textanimation {
      position: absolute;
      background-color: transparent;
      top: 20rem;
      left: 10rem;
}

.containers {
      background-color: transparent;
      height: 70px;
      overflow: hidden;
      text-align: center;
      position: relative;
      /* top: 50px; */
      bottom: 65px;
      font-size: 60px;
      left: 12rem;
}

#spin {
      color: black;
      background-color: transparent;
}

#spin:after {
      content: "System Building";
      animation: spin 40s infinite;
      transition: all ease-in-out;
      background-color: transparent;
}

@keyframes spin {
      25% {
            content: "Vision System Design";
            background-color: transparent;
      }

      50% {
            content: "System integration";
            background-color: transparent;
      }

      75% {
            content: "Installation & Support";
            background-color: transparent;
      }

      100% {
            content: "Feasibility studies";
            background-color: transparent;
      }
}

.short {
      background-color: transparent;
      color: black;
      font-size: 60px;
}

.process {
      background-color: transparent;
      color: black;
      font-size: 60px;
}

.container {
      color: #e5e5e5;
      font-size: 2.26rem;
      text-transform: uppercase;
      height: 20vh;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background-color: transparent;
      left: 8%;
      width: 35vw;
      flex-wrap: wrap;
}

.animation {
      height: 50px;
      overflow: hidden;
      margin-left: 0rem;
      background-color: transparent;
      width: 36vw;
      position: relative;
      bottom: 33px;
      text-align: justify;
}

#line {
      display: block;
}

.letter {
      position: absolute;
      display: none;
      background-color: transparent;
      color: black;
}

.servicess h1 {
      width: 84%;
      text-align: center;
      margin: auto;
      color: orange;
}

.sidemenu {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 90%;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      margin: auto;
}

.servicess {
      width: 22vw;
      height: 58vh;
      border: 2px solid white;
      margin-top: 60px;
      margin-left: 30px;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
}

.servicess .trunkey {
      width: 18vw;
      /* text-align: center; */
      border: 1px solid;
      height: 47px;
      font-size: 22px;
      border-radius: 30px;
      /* text-align: center; */
      display: flex;
      align-items: center;
      justify-content: center;
}

.servicess .trunkey a {
      text-decoration: none;
      color: white;
}

/* .service .section1 .servicess .trunkey:hover {
      background-color: red;
  } */

.service {
      display: none;
}

.service .section1 {
      width: 30%;
      height: 70vh;
}

.service .section2 {
      width: 70%;
      height: 70vh;
      display: flex;
      flex-wrap: wrap;
}

/* .service .section2 .headin {
      font-size: 40px;
      padding-top: 40px;
      padding-left: 20px;
      color: white;
}

.service2 {
      width: 100%;
      height: 50vw;
      display: none;
} */

/* .service2 .section3 {
      width: 30%;
      height: 28vw;
      display: flex;
      flex-wrap: wrap; */
/* background-color: rgb(230, 230, 198); */
/* } */

/* .service2 .section4 {
      width: 70%;
      height: auto;
      display: flex;
      /* background-color: rgb(194, 223, 194); 
      position: relative;
      /* background: linear-gradient(10, 10, 10);             
      flex-wrap: wrap;
} */


.section2 {
      width: 80%;
      height: 40vh;
      margin: auto;
      color: white;
      display: flex;
      flex-wrap: wrap;
}

.section2 .image {
      width: 80%;
      height: 35vh;
      margin: 27px auto;
      display: flex;
      justify-content: center;
}

h1 {
      width: 100%;
}

.section2 .trunkeydis {
      width: 80%;
      height: auto;
      text-align: justify;
      color: white;
      margin: 5px auto;
}

footer {
      width: 100%;
      height: 21rem;
      background-color: #2D3E4E;
      /* position: absolute; */
      top: 151rem;
      display: none;
      justify-content: space-around;
      color: white;
      grid-template-columns: 33.33% 35% 31.33%;
}

footer .socalmedia {
      background: #2D3E4E;
      height: 21rem;
      display: grid;
      justify-content: space-around;
      align-items: center;
      grid-template-columns: 70%;
      grid-template-rows: 103px 100px 75px;
}

footer .socalmedia .heading2 {
      background-color: #2D3E4Eed;
      color: white;
}

footer .socalmedia p {
      background-color: #2D3E4E;
      text-align: justify;
}

footer .socalmedia .socalmediass {
      DISPLAY: FLEX;
      justify-content: space-around;
      width: 15rem;
      background-color: transparent;
}

footer .socalmedia .socalmediass img {
      transform: scale(1);
      background-color: transparent;
      transition: transform 0.5s;
      cursor: pointer;
}

footer .socalmedia .socalmediass img:hover {
      transform: scale(1.5);
}

footer .informationlinks {
      background-color: #2D3E4E;
      display: grid;
      height: 21rem;
      justify-content: center;
      grid-template-rows: 98px 143px;
      grid-template-columns: 70%;
      text-align: center;
      grid-row-gap: 1rem;
      align-items: center;
}

footer .informationlinks .heading3 {
      background-color: #2D3E4E;
}

footer .informationlinks .alllinks {
      display: grid;
      grid-template-columns: 66px 86px;
      justify-content: space-around;
      grid-template-rows: 38px 44px;
      text-align: center;
      /* justify-content: center; */
      align-items: center;
      background-color: #2D3E4E;
}

footer .informationlinks .alllinks .Home,
.Aboutss,
.Servicess,
.Contacts {
      background-color: #2D3E4E;
}

footer .informationlinks .alllinks .Home a {
      color: white;
      text-decoration: none;
      background-color: #2D3E4E;
}

footer .informationlinks .alllinks .Aboutss a {
      color: white;
      text-decoration: none;
      background-color: #2D3E4E;
}

footer .informationlinks .alllinks .Servicess a {
      color: white;
      text-decoration: none;
      background-color: #2D3E4E;
}

a {
      background-color: transparent;
}

footer .informationlinks .alllinks .Contacts a {
      color: white;
      text-decoration: none;
      background-color: #2D3E4E;
}

footer .loacation {
      display: grid;
      grid-template-rows: 95px 196px;
      justify-content: center;
      align-items: center;
      background-color: #2D3E4E;
}

footer .loacation .heading4 {
      background-color: #2D3E4E;
}

footer .loacation .div1 {
      background-color: #2D3E4E;
}